.calificacion {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.calificacion > .etiqueta {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
}

.calificacion > .campo-calificacion {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.calificacion .estrella {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 48px;
    width: 48px;
}

.calificacion > .mensaje-informacion {
    color: var(--color-secundario);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1.3;
}

.calificacion > .mensaje-error {
    font-size: 12px;
    color: red;
}

.calificacion > .mensaje-informacion,
.calificacion > .mensaje-error {
    min-height: 15.6px;
    display: block;
}