.Camino {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 48px;
    margin-bottom: 4px;
}

.Camino > span  {
    height: 24px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.Camino > span > svg {
    height: 24px;
    width: 24px;
    color: var(--color-secundario-mas-alto);
}