.Encabezado {
    height: fit-content;
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.Encabezado > div:nth-of-type(1) {
    background-color: var(--color-secundario-mas-bajo);
    height: fit-content;
    box-sizing: border-box;
    padding: 8px 52px 10px 52px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.Encabezado > div:nth-of-type(2) {
    background-color: var(--color-secundario-mas-alto);
    height: fit-content;
    box-sizing: border-box;
    padding: 8px 52px 10px 52px;
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
}

.Encabezado > div:nth-of-type(2) > a {
    flex: 0 0 auto;
    height: 44px;
    width: 144px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Encabezado > div:nth-of-type(2) > a > svg {
    min-height: 144px;
    min-width: 144px;
}

.Encabezado > div:nth-of-type(2) > div:nth-of-type(1) {
    flex: 1;
}

.Encabezado > div:nth-of-type(2) > div:nth-of-type(2) {
    flex: 0 0 auto;
}

.Encabezado > div:nth-of-type(2) > div:nth-of-type(1), .Encabezado > div:nth-of-type(2) > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}