.Espacios {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Espacios > div {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.Espacios > div > div {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: flex-end;
    flex: 1 1 auto;
    gap: 8px;
}

.Espacios > div > div > input {
    height: fit-content;
    flex: 1 1 auto;
    color: var(--color-neutro-mas-mas-mas-mas-alto);
    padding: 12px 16px;
    border: 1.5px solid var(--color-secundario);
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    outline: none;
    transition: border-color 0.15s ease;
}

.Espacios > div > div > input::placeholder {
    color: var(--color-secundario);
}

.Espacios > div > div > input:hover {
    border-color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.Espacios > div > div > input:focus {
    border-color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.Espacios > div > div > button {
    all: unset;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    flex: 0 0 auto;
    color: var(--color-neutro-mas-mas-mas-bajo);
    background-color: var(--color-secundario);
    border-color: var(--color-secundario);
    transition: all 0.1s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5.6px 0;
}

.Espacios > div > div > button:hover {
    color: var(--color-neutro-mas-mas-mas-bajo);
    background-color: var(--color-secundario-bajo);
    border-color: var(--color-secundario-bajo);
}

.Espacios > div > div > button > svg {
    height: 24px;
    width: 24px;
}

.Espacios > div > div > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.Espacios > div > div > div > input {
    height: fit-content;
    flex: 1 1 auto;
    color: var(--color-neutro-mas-mas-mas-mas-alto);
    padding: 12px 16px;
    border: 1.5px solid var(--color-secundario);
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    outline: none;
    transition: border-color 0.15s ease;
}
.Espacios > div > div > div > input::placeholder {
    color: var(--color-secundario);
}

.Espacios > div > div > div > input:hover {
    border-color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.Espacios > div > div > div > input:focus {
    border-color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.Espacios > span {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.Espacios > span:nth-of-type(1) > p > span {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.Espacios > span:nth-of-type(2) > p > span {
    color: var(--color-secundario);
}