.Intereses {
    max-height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 20px;
    margin-bottom: 80px;
}