.Opiniones {
    max-height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 112px;
}

.Opiniones > div {
    max-height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 36px 32px;
    background-color: var(--color-neutro-opaco-mas-bajo);
    border-radius: 8px;
}

.Opiniones > div > span {
    max-height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-bottom: 16px;
}

.Opiniones > div > span > span > svg {
    height: 32px;
    width: 32px;
    color: var(--color-neutro);
}

.Opiniones > div > span > span.Seleccionadas > svg {
    color: var(--color-terciario-bajo);
}

.Opiniones > div > h1 {
    margin-bottom: 12px;
}

.Opiniones > div > h1 > span {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.Opiniones > div > p {
    margin-bottom: 32px;
}

.Opiniones > div > p > span {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.Opiniones > div > div {
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.Opiniones > div > div > img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: var(--color-neutro-mas-bajo);
}

.Opiniones > div > div > p > span {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
}