.Pie {
    background-color: var(--color-secundario-mas-alto);
    height: fit-content;
    box-sizing: border-box;
    padding: 44px 52px 48px 52px;
    display: grid;
    gap: 16px;
    align-items: flex-start;
    min-height: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Pie > div:nth-of-type(1) {
    grid-column: 1 / 3;
}

.Pie > div:nth-of-type(1) > svg {
    height: 72px;
    width: fit-content;
    margin-bottom: 20px;
}

.Pie > div:nth-of-type(1) > p {
    margin-bottom: 4px;
}

.Pie > div:nth-of-type(1) > p:nth-of-type(3) {
    margin-bottom: 40px;
}

.Pie > div {
    display: flex;
    flex-direction: column;
}

.Pie > div > h1 {
    margin-bottom: 20px;
}

.Pie > div > a {
    margin-bottom: 8px;
}