.Reservas {
    max-height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 112px;
}

.Reservas > div {
    max-height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.Reservas > div:nth-of-type(2) > button {
    box-sizing: border-box;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}