.Tarjeta {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 13px 12px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border: 1px solid var( --color-secundario);
    border-radius: 6px;
    position: relative;
}

.Tarjeta > img {
    aspect-ratio: 10 / 7;
    border-radius: 4px;
    object-fit: cover;
    object-position: center center;
    height: fit-content;
    max-width: 100%;
    margin-bottom: 16px;
}

.Tarjeta > h1:nth-of-type(1) {
    margin-bottom: 8px;
}

.Tarjeta > p:nth-of-type(1) {
    margin-bottom: 0;
}

.Tarjeta > p:nth-of-type(2) {
    margin-bottom: 32px;
}

.Tarjeta > h1:nth-of-type(2) {
    margin-bottom: 2px;
}

.Tarjeta > p:nth-of-type(3) {
    margin-bottom: 16px;
}

.Tarjeta > a {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.Tarjeta > svg {
    position: absolute;
    height: 64px;
    width: 64px;
    top: -16px;
    left: -16px;
}