:root {
    --color-texto: #000000;
    --color-fondo: #ffffff;
    --fuente-extra-pequeña: 0.889rem;
    --fuente-pequeña: 1rem;
    --fuente-mediana: 1.125rem;
    --fuente-grande: 1.266rem;
    --fuente-extra-grande: 1.424rem;
    --fuente-extra-extra-grande: 1.602rem;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSansRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSansSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSansExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.01em;
    line-height: 1.2;
}

body {
    margin: 0;
    padding: 0;
}

div#root {
    width: 100%;
}

.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;
}

/* Navegacion.tsx */
.navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 1rem 2rem;
    box-sizing: border-box;
    gap: 1.5rem;
    position: relative;
    z-index: 2;
    pointer-events: auto;
}

.navegacion > div {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

/* Logotipo.tsx */
.logotipo > a, .logotipo > a > svg {
    all: unset;
}

.logotipo {
    cursor: pointer;
}

.logotipo > svg {
    height: 2rem;
    width: auto;
    display: block;
    color: darkblue;
}

.busqueda {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.busqueda > div {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0.25rem;
    flex: 1;
}

.busqueda input {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
    border: 1px solid grey;
    box-sizing: border-box;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}

.busqueda > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    font-size: var(--fuente-extra-pequeña);
}

.coche {
    padding: 0;
    margin: 0;
    border: unset;
    background-color: unset;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: black;
}

.coche > svg {
    height: 2rem;
    width: 2rem;
}

.coche > span {
    position: absolute;
    top: 0;
    right: 0;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: royalblue;
}

.acceder {
    padding: 1rem 1.5rem;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: darkblue;
    color: white;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
}

.registrarse {
    padding: 1rem 1.5rem;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: darkblue;
    color: white;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
}

.mensaje {
    position: relative;
    width: 100%;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    background-color: lavenderblush;
    color: red;
    font-size: var(--fuente-extra-pequeña);
    z-index: 1;
}

.mensaje {
    transform: translateY(-100%);
    transition: transform 0.4s ease;
}

.mensaje.visible {
    transform: translateY(0);
}

.mensaje.exito {
    background-color: honeydew;
    color: forestgreen;
}

.heroe > div > h1,
.heroe > div > p,
.heroe > div > button {
    all: unset;
}

.heroe {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto 5rem;
    padding: 81px 2rem 2rem 2rem;
    box-sizing: border-box;
    background-color: white;
}

.heroe > div {
    height: 100%;
    background-color: gainsboro;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    padding: 2.25rem 2rem;
    border-radius: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroe > div > h1 {
    font-size: var(--fuente-extra-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 0.25rem;
}

.heroe > div > p {
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 1.5rem;
}

.heroe > div > button {
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    padding: 1rem 1.5rem;
}

.destacado {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: white;
}

.destacado > h3 {
    padding: 0;
    margin: 0;
    font-size: var(--fuente-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 1.5rem;
}

.destacado > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    margin-bottom: 6rem;
}

.tarjeta > div,
.tarjeta > p,
.tarjeta > h2 {
    all: unset;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.tarjeta > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 1rem;
    display: block;
}

.tarjeta > div {
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.5rem;
}

.tarjeta > p:nth-of-type(1) {
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.125rem;
}

.tarjeta > h2 {
    font-size: var(--fuente-mediana);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 0.75rem;
}

.tarjeta > p:nth-of-type(2) {
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.5rem;
}

.explora {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: white;
}

.explora  > h3 {
    padding: 0;
    margin: 0;
    font-size: var(--fuente-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 1.5rem;
}

.explora > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    margin-bottom: 7rem;
}

.actividad {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 2.25rem 2rem;
    aspect-ratio: 2 / 3;
    background-color: aliceblue;
    border-radius: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.actividad > h4 {
    margin: 0;
    padding: 0;
    color: white;
    font-size: var(--fuente-mediana);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
}

.frecuentes {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: white;
}

.frecuentes  > h3 {
    padding: 0;
    margin: 0;
    font-size: var(--fuente-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 1.5rem;
}

.frecuentes  > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
}

.pregunta {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.pregunta > svg {
    margin: 0;
    padding: 0;
    height: 2rem;
    width: auto;
}

.pie {
    width: 100%;
    background-color: darkblue;
    color: white;
}

.pie > div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 2rem 6rem;
    box-sizing: border-box;
}

.pie > div > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    margin-bottom: 6rem;
}

.pie > div > div > div {
    display: flex;
    flex-direction: column;
}

.pie > div > div > div > h5 {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-mediana);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 0.75rem;
}

.pie > div > div > div > a {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.5rem;
    cursor: pointer;
    width: fit-content;
}

.pie > div > div > div > h5:nth-of-type(2) {
    margin-top: 2rem;
}

.sociales {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    margin-bottom: 2rem;
}

.sociales > a {
    cursor: pointer;
    width: fit-content;
}

.sociales > a > svg {
    height: 2rem;
    width: auto;
}

.contacto {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    width: fit-content;
    margin-bottom: 0 !important;
}

.contacto > svg {
    height: 2rem;
    width: auto;
}

.pie > div > p {
    margin: 0;
    padding: 0;
    color: lightskyblue;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}

.formulario {
    max-width: 1200px;
    margin: 81px auto;
    padding: 2rem 2rem 0;
    box-sizing: border-box;
    background-color: white;
}

.formulario > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 7rem;
    gap: 1rem;
    height: fit-content;
}

.formulario > div > div:nth-of-type(1) {
    height: auto;
    width: 50%;
    background-color: aliceblue;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    overflow-y: hidden;
}

.error {
    background-color: lavenderblush;
    color: red;
    font-size: var(--fuente-extra-pequeña);
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.error {
    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.error.visible {
    transform: translateY(0);
}

.error.exito {
    background-color: honeydew;
    color: forestgreen;
}

.formulario > div > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.formulario > div > div:nth-of-type(2) > div {
    width: 75%;
}

.inscripcion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inscripcion > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
}

.entrada {
    display: block;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
    border: 1px solid grey;
    box-sizing: border-box;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.75rem;
}

.formulario h1 {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 1rem;
}

.inscripcion > div > label {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 0.5rem;
}

.inscripcion button {
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    padding: 1rem 1.5rem;
    width: fit-content;
}

.novedades {
    display: flex !important;
    flex-direction: row !important;
    margin-bottom: 0 !important;
    align-items: flex-start !important;
    gap: 0.25rem !important;
}

.novedades > label {
    font-size: var(--fuente-extra-pequeña) !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    letter-spacing: inherit !important;
    line-height: inherit !important;
    margin-bottom: 0 !important;
}

.terminos {
    display: flex !important;
    flex-direction: row !important;
    margin-bottom: 2rem !important;
    align-items: flex-start !important;
    gap: 0.25rem !important;
}

input[type="checkbox"] {
    accent-color: darkblue;
}

.terminos > label {
    font-size: var(--fuente-extra-pequeña) !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    letter-spacing: inherit !important;
    line-height: inherit !important;
    margin-bottom: 0 !important;
}

.terminos > label > a {
    color: royalblue;
    cursor: pointer;
}

.forma {
    max-width: 1200px;
    margin: 81px auto;
    padding: 2rem 2rem 0;
    box-sizing: border-box;
    background-color: white;
}

.forma > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
    gap: 1rem;
    height: fit-content;
}

.forma > div > div {
    width: 50%;
}

.forma > div > div > div:nth-of-type(1) {
    aspect-ratio: 2 / 1;
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    overflow-y: hidden;
    margin-bottom: 2rem;
}

.problema {
    background-color: lavenderblush;
    color: red;
    font-size: var(--fuente-extra-pequeña);
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.problema {
    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.problema.visible {
    transform: translateY(0);
}

.problema.exito {
    background-color: honeydew;
    color: forestgreen;
}

.inscripcion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inscripcion > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
}

.entrada {
    display: block;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
    border: 1px solid grey;
    box-sizing: border-box;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.75rem;
}

.forma h1 {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 1rem;
}

.ingreso > div > label {
    display: block;
    margin: 0;
    padding: 0;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 0.5rem !important;
}

.ingreso button {
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    padding: 1rem 1.5rem;
    width: fit-content;
    display: block;
}

.ingreso > a {
    display: block;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0;
    color: royalblue;
    cursor: pointer;
    margin-bottom: 2rem !important;
}

.lista {
    max-width: 1200px;
    margin: 81px auto;
    padding: 2rem 2rem 0;
    box-sizing: border-box;
    background-color: white;
}

.lista > h3 {
    padding: 0;
    margin: 0;
    font-size: var(--fuente-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 1.5rem;
}

.lista > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    margin-bottom: 6rem;
}

.filtros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.25rem;
}

.filtros > button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    color: royalblue;
    cursor: pointer;
}

.filtros > button > svg {
    height: 1.25rem;
    width: auto;
}

.filtros > button > p {
    all: unset;
    display: block;
    margin-bottom: 1px;
}

.carro {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: transform 1s ease;
}

.carro.abierto {
    transform: translateX(0);
}

.carro > div {
    width: 100%;
    height: 100vh;
    position: relative;
}

.carro > div > div {
    width: fit-content;
    min-height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
    scrollbar-width: thin;
    color: black;
    scrollbar-color: currentColor transparent;
}

/* El último estilo, que personaliza la apariencia de la barra de desplazamiento, me lo entregó ChatGPT como respuesta a la pregunta "¿Es posible cambiar la barra de desplazamiento de un carro de compras?" */

.carro > div > div > div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.carro > div > div > div:nth-of-type(1) > div > h3 {
    all: unset;
    display: block;
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 2rem;
}

.carro > div > div > div:nth-of-type(1) > div > button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    color: royalblue;
    cursor: pointer;
}

.carro > div > div > div:nth-of-type(1) > div > button > svg {
    height: 1.25rem;
    width: auto;
}

.carro > div > div > div:nth-of-type(1) > div > button > p {
    all: unset;
    display: block;
    margin-bottom: 1px;
}

.carro > div > div > div:nth-of-type(1) > button {
    all: unset;
    margin-right: -4px;
    cursor: pointer;
}

.carro > div > div > div:nth-of-type(1) > button > svg {
    height: 2rem;
    width: 2rem;
}

.item {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.item > img {
    aspect-ratio: 1 / 1;
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    display: block;
    margin-right: 1.5rem;
}

.item > div {
    max-width: 368px;
}

.item > div > h2 {
    all: unset;
    display: block;
    font-size: var(--fuente-mediana);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 0.75rem;
}

.item > div > p {
    all: unset;
    display: block;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 1.5rem;
}

.item > div > div {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    margin-bottom: 0.25rem;
    margin-top: 0.5rem;
}

.item > div > div > span {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
    justify-content: center;
    align-items: center;
}

.item > div > div > span > p {
    all: unset;
    display: block;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-top: 0.125rem;
}

.item > div > button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem 1.125rem 0.5rem 0.75rem;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}

.item > div > button > svg {
    height: 1.5rem;
    width: 1.5rem;
}

.item > button {
    all: unset;
    display: block;
    height: fit-content;
    color: black;
    margin-top: 0.25rem;
    cursor: pointer;
}

.item > button > svg {
    height: 1.5rem;
    width: 1.5rem;
}

.carro > div > div > button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.125rem 2rem 1.125rem 2rem;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: darkblue;
    color: white;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    width: fit-content;
}

.carro > div > div > button > svg {
    height: 1.5rem;
    width: 1.5rem;
}

.carro > div > div > button > p {
    all: unset;
    display: block;
}

.total {
    background-color: white;
    max-width: 612px;
    height: fit-content;
    padding: 2.5rem;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 3.5rem;
}

.total > h4 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 1.5rem;
}

.tabla > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1rem;
    row-gap: 0.75rem;
    margin-bottom: 1.25rem;
}

.tabla > div:nth-of-type(1) > h6 {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.25rem;
}

.tabla > div:nth-of-type(1) > p {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    max-width: 35ch;
}

.tabla > div:nth-of-type(2) > h5 {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-mediana);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 0;
}