body {
    margin: 0;
    padding: 0;
}

.Espaciador {
    width: 100%;
    height: 50vh;
    background-color: white;
}

.Carrusel {
    width: 100%;
    height: 75vh;
    background-color: var(--color-neutro-mas-mas-bajo);
    position: relative;
    margin-bottom: 80px;
}

.CarruselDiapositivas {
    height: 100%;
    width: 100%;
}

.Diapositiva {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 52px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Diapositiva > div {
    background-color: var(--color-neutro-mas-mas-bajo);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    width: 100%;
    max-width: 600px;
}

.Diapositiva > div > div:nth-of-type(1) {
    background-color: var(--color-primario-alto);
    box-sizing: border-box;
    margin: 0;
    padding: 12px 32px;
    display: flex;
    flex-direction: row;
    border-radius: 8px 8px 0 0;

    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    color: var(--color-neutro-mas-mas-mas-bajo);
}

.Diapositiva > div > div:nth-of-type(2) {
    background-color: var(--color-neutro-mas-mas-mas-bajo);
    box-sizing: border-box;
    padding: 16px 32px;
    display: flex;
    flex-direction: row;
    border-radius: 0 0 8px 8px;
    justify-content: space-between;
    gap: 16px;
}

.Diapositiva > div > div:nth-of-type(2) > div:nth-of-type(1) > h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
    color: var(--color-neutro-mas-mas-mas-mas-alto);
    margin-bottom: 6px;
}

.Diapositiva > div > div:nth-of-type(2) > div:nth-of-type(1) > p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    max-width: 45ch;
    color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.Diapositiva > div > div:nth-of-type(2) > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CarruselNavegacion {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CarruselMarcadores {
    position: absolute;
    height: fit-content;
    width: 100%;
    bottom: 24px;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.CarruselMarcador {
    background-color: var(--color-secundario);
    height: 10px;
    width: 10px;
    border-radius: 9999px;
    cursor: pointer;
}

.CarruselMarcador.Activo {
    background-color: var(--color-primario-mas-alto);
}

.Titular {
    max-height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: flex;
    gap: 20px;
    margin-bottom: 48px;
}

.Titular > div {
    flex: 1 1 0;
    border-bottom: 1.5px solid var(--color-neutro-mas-mas-mas-mas-alto);
    border-radius: 0.75px;
}

.Titular > .Elementos.TituloCuaternario {
    flex: 1 1 0;
}

.Explorar {
    max-height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
    margin-bottom: 80px;
}

.Aventura {
    aspect-ratio: 13 / 20;
    max-height: fit-content;
    max-width: 100%;
    box-sizing: border-box;
    padding: 32px 28px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border-radius: 6px;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Aventura > h1  {
    background-color: var(--color-neutro-mas-mas-bajo);
    padding: 12px 16px;
    border-radius: 8px;
    max-width: fit-content;
}

.Preguntas {
    max-height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px 20px;
    margin-bottom: 80px;
}

.Preguntas > div:nth-of-type(1) {
    grid-column: 2 / 7;
    aspect-ratio: 15 / 20;
    background-color: gray;
    box-sizing: border-box;
    padding: 32px 28px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.Preguntas > div:nth-of-type(2) {
    grid-column: 7 / 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Preguntas > div:nth-of-type(2) > h1 {
    margin-bottom: 48px;
}

.Preguntas > div:nth-of-type(2) > a {
    margin-bottom: 16px;
}

.Preguntas > div:nth-of-type(2) > a:nth-of-type(4) {
    margin-bottom: 32px;
}