.Compra {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
    margin: 64px 0;
}

.Especificaciones {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    /* padding: 36px 32px; */
    display: flex;
    flex-direction: column;
}

.Especificaciones > div {
    gap: 8px !important;
}

.Especificaciones > .accion-cuaternaria {
    margin-bottom: 48px;
}

.Especificaciones > .titulo-cuaternario {
    margin-bottom: 24px;
}

.Especificaciones > table {
    margin-bottom: 64px;
}

.Especificaciones > table span {
    margin: 4px 0;
}

.Especificaciones > table tbody:nth-of-type(2) span, .Especificaciones > table tbody:nth-of-type(3) span {
    font-weight: 700;
}

.Especificaciones > table tbody:nth-of-type(2) span {
    color: var(--color-neutro-bajo);
}

.Especificaciones > .boton-secundario {
    margin-bottom: 64px;
}

.Especificaciones > .entrada-texto:nth-of-type(3) {
    margin-bottom: 48px;
}

.Especificaciones > .titulo-sextario {
    margin-bottom: 16px;
}

.Especificaciones > .parrafo-primario {
    margin-bottom: 36px;
}

.Especificaciones > .boton-primario {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.Ayuda {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
}

.Medios {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 64px;
}

.Medios > div {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 26px 32px;
    background-color: var(--color-neutro-mas-mas-bajo);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Medios > div:nth-of-type(1) > svg {
    height: 56px;
    width: 160px;
}

.Medios > div:nth-of-type(2) > svg {
    height: 48px;
    width: 160px;
}


.Articulos {
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    padding: 36px 32px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}