body {
    margin: 0;
    padding: 0;
}

.Encabezado {
    height: fit-content;
    width: 100%;
}

.Encabezado > div {
    box-sizing: border-box;
    padding: 8px 52px 10px 52px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.Encabezado > div:nth-of-type(1) {
    background-color: var(--color-secundario-mas-bajo);
    height: fit-content;
}

.Encabezado > div:nth-of-type(2) {
    background-color: var(--color-secundario-mas-alto);
    height: fit-content;
}

.Encabezado > div:nth-of-type(2):nth-child(1){
    flex: 1;
}

.Encabezado > div:nth-of-type(2):nth-child(2){
    flex: 1;
}

.Encabezado > div:nth-of-type(2):nth-child(3){
    flex: 0 0 auto;
}