.Compra {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 20px;
    margin: 64px 0;
}

.Entradas {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.Entradas > h1 {
    margin-bottom: 32px;
}

.Entradas > div {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Pieza {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 13px 12px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 16px;
    border: 1px solid var(--color-secundario);
    border-radius: 8px;
}

.Pieza > div {
    min-width: 0;
}

.Pieza > div:nth-of-type(1) {
    aspect-ratio: 1 / 1;
    height: auto;
    width: 100%;
    position: relative;
}

.Pieza > div:nth-of-type(1) > img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 4px;
}

.Pieza > div:nth-of-type(2) {
    height: fit-content;
    width: 100%;
    grid-column: 2 / 4;
}

.Pieza > div:nth-of-type(2) > p {
    gap: 4px !important;
}

.Pieza > div:nth-of-type(2) > span {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.Pieza > div:nth-of-type(2) > div {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.Pieza > div:nth-of-type(2) > h1:first-of-type {
    margin-top: 8px;
    margin-bottom: 4px;
}

.Pieza > div:nth-of-type(2) > p {
    margin-bottom: 16px;
}

.Pieza > div:nth-of-type(2) > span:last-of-type {
    margin-bottom: 16px;
}

.Pieza > div:nth-of-type(2) > div > div {
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.Resumen {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    padding: 36px 32px;
    background-color: var(--color-neutro-mas-mas-bajo);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: sticky;
    top: 208px;
}

.Resumen > h1:nth-of-type(1) {
    margin-bottom: 24px;
}

.Resumen > p {
    margin-bottom: 4px;
}

.Resumen > h1:nth-of-type(2) {
    margin-bottom: 16px;
}

.Resumen > label {
    margin-bottom: 40px;
}

.Resumen > button {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}