.presentacion {
    width: 100%;
    background-color: white;
    color: black;
}

.presentacion > div {
    max-width: 1200px;
    margin: 81px auto 0;
    padding: 2rem 2rem 0;
    box-sizing: border-box;
}

.presentacion > div > h1 {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 0.5rem;
}

.presentacion > div > p {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 1rem;
}

.presentacion > div > div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.presentacion > div > div > a {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    padding: 0.5rem 1rem;
    background-color: aliceblue;
    color: cornflowerblue;
    border-radius: 4px;
    cursor: pointer;
}

.galeria {
    width: 100%;
    background-color: white;
    color: black;
}

.galeria > div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 3rem;
}

.galeria > div > div {
    overflow: hidden;
    aspect-ratio: 3 / 2;
    border-radius: 4px;
}

.galeria > div > div:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.galeria > div > div:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.galeria > div > div:nth-of-type(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.galeria > div > div {
    overflow: hidden;
}

.galeria > div > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.detalles {
    width: 100%;
    background-color: white;
    color: black;
}

.detalles > div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
}

.detalles > div > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.detalles > div > div:nth-of-type(1) > p {
    margin: 0;
    padding: 0;
    max-width: 55ch;
    margin-bottom: 1.5rem;
}

.detalles > div > div:nth-of-type(1) > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.detalles > div > div:nth-of-type(1) > div > div {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.75rem;
}

.detalles > div > div:nth-of-type(1) > div > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.detalles > div > div:nth-of-type(1) > div > h4 {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-mediana);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
}

.detalles > div > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 2rem;
    height: fit-content;
    margin-bottom: 9rem;
}

.detalles > div > div:nth-of-type(2) > h2 {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.5rem;
}

.detalles > div > div:nth-of-type(2) > p {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}

.detalles > div > div:nth-of-type(2) > p:nth-of-type(2) {
    margin-bottom: 1rem;
}

.resenas {
    width: 100%;
    background-color: white;
    color: black;
}

.resenas > div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
}

.resenas > div > div {
    background-color: aliceblue;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 9rem;
}

.resenas > div > div > div:nth-of-type(1) > div {
    margin-bottom: 1rem;
}

.resenas > div > div > div:nth-of-type(1) > div > svg {
    color: cornflowerblue;
    height: 1.25rem;
    width: 1.25rem;
}

.resenas > div > div > div > p {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 3rem;
}

.resenas > div > div > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.resenas > div > div > div:nth-of-type(2) > div {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.75rem;
}

.resenas > div > div > div:nth-of-type(2) > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.resenas > div > div > div:nth-of-type(2) > p {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.01em;
    line-height: inherit;
}

.opciones {
    width: 100%;
    background-color: white;
    color: black;
}

.opciones > div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
}

.importante {
    width: 100%;
    background-color: white;
    color: black;
}

.importante > div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    margin-bottom: 6rem;
}

.importante > div > div > h5 {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 1rem;
}

.importante > div > div > p {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 2rem;
    margin-right: 1rem;
    max-width: 55ch;
}