.boton-primario {
    font-size: 1.250rem;
    font-weight: 700;
    line-height: 1.3;
}

    .boton-primario > svg {
        padding: 1.125em 1.5em;
    }

.boton-secundario {
    font-size: 1rem;
    padding: 0.5em 1em;
    line-height: 1.3;
}

    .boton-secundario > svg {
        padding: 0.5em 0.5em;
        height: 2em;
        width: 2em;
    }

.boton-terciario {
    font-size: 0.800rem;
    padding: 0.5em 1em;
    line-height: 1.3;
}

    .boton-terciario > svg {
        padding: 1em 1.375em;
    }

.boton-cuaternario {
    font-size: 0.800rem;
    padding: 0.5em 1em;
    line-height: 1.3;
}

    .boton-cuaternario > svg {
        padding: 0.875em 1.25em;
    }

.boton-quinario {
    font-size: 0.800rem;
    padding: 0.5em 1em;
    line-height: 1.3;
}

    .boton-quinario > svg {
        padding: 0.75em 1.125em;
}

.boton-marca {
    font-size: 1rem;
    padding: 0.5em 1em;
    line-height: 1.3;
}

    .boton-marca > svg {
        padding: 0.25em 2em 0.25em 1em;
}

.boton-usuario {
    font-size: 4rem;
    line-height: 1.3;
}
