.titulo-primario {
    font-size: 3.815rem;
    font-weight: 700;
    line-height: 1.1;
}

.titulo-secundario{
    font-size: 3.052rem;
    font-weight: 700;
    line-height: 1.1;
}

.titulo-terciario {
    font-size: 2.441rem;
    font-weight: 700;
    line-height: 1.1;
}

.titulo-cuaternario {
    font-size: 1.953rem;
    font-weight: 700;
    line-height: 1.1;
}

.titulo-quintario{
    font-size: 1.562rem;
    font-weight: 700;
    line-height: 1.1;
}

.titulo-sextario {
    font-size: 1.250rem;
    font-weight: 700;
    line-height: 1.1;
}
