.agenda {
    min-height: 432px;
    max-width: fit-content;
    border-radius: 4px;
    background-color: whitesmoke;
    padding: 2rem;
    text-align: center;
    margin: 0;
    font-size: var(--fuente-peque単a);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    grid-column: 1 / 3;
    box-sizing: border-box;
    margin-bottom: 6rem;
}

.agenda > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.agenda > div:nth-of-type(1) > h6 {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-mediana);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
}

.agenda > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dias {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-peque単a);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.75rem;
}

.nada {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-peque単a);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}

.numeros {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-peque単a);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    background: transparent;
    color: black;
    border-radius: 50%;
}

.numeros.disponibles {
    background-color: dimgrey;
    color: white;
}