:root {
    --color-texto: #000000;
    --color-fondo: #ffffff;
    --fuente-extra-pequeña: 0.889rem;
    --fuente-pequeña: 1rem;
    --fuente-mediana: 1.125rem;
    --fuente-grande: 1.266rem;
    --fuente-extra-grande: 1.424rem;
    --fuente-extra-extra-grande: 1.602rem;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSansRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSansSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./assets/OpenSansExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.01em;
    line-height: 1.2;
}

body {
    margin: 0;
    padding: 0;
}

div#root {
    width: 100%;
}

.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    pointer-events: none;
}

/* Navegacion.tsx */
.navegacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 1rem 2rem;
    box-sizing: border-box;
    gap: 1.5rem;
    position: relative;
    z-index: 2;
    pointer-events: auto;
}

.navegacion > div {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

/* Logotipo.tsx */
.logotipo > a, .logotipo > a > svg {
    all: unset;
}

.logotipo {
    cursor: pointer;
}

.logotipo > svg {
    height: 2rem;
    width: auto;
    display: block;
    color: darkblue;
}

.busqueda {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.busqueda > div {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0.25rem;
    flex: 1;
}

.busqueda input {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
    border: 1px solid grey;
    box-sizing: border-box;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}

.busqueda > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    font-size: var(--fuente-extra-pequeña);
}

.coche {
    padding: 0;
    margin: 0;
    border: unset;
    background-color: unset;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: black;
}

.coche > svg {
    height: 2rem;
    width: 2rem;
}

.coche > span {
    position: absolute;
    top: 0;
    right: 0;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: royalblue;
}

.acceder {
    padding: 1rem 1.5rem;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: darkblue;
    color: white;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
}

.registrarse {
    padding: 1rem 1.5rem;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: darkblue;
    color: white;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
}

.mensaje {
    position: relative;
    width: 100%;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    background-color: lavenderblush;
    color: red;
    font-size: var(--fuente-extra-pequeña);
    z-index: 1;
}

.mensaje {
    transform: translateY(-100%);
    transition: transform 0.4s ease;
}

.mensaje.visible {
    transform: translateY(0);
}

.mensaje.exito {
    background-color: honeydew;
    color: forestgreen;
}