.filtro {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateX(100%);
    transition: transform 1s ease;
}

.filtro.abierto {
    transform: translateX(0);
}

.filtro > div {
    width: 100%;
    height: 100vh;
    position: relative;
}

.filtro > div > div {
    width: fit-content;
    min-height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
    scrollbar-width: thin;
    color: black;
    scrollbar-color: currentColor transparent;
}

/* El último estilo, que personaliza la apariencia de la barra de desplazamiento, me lo entregó ChatGPT como respuesta a la pregunta "¿Es posible cambiar la barra de desplazamiento de un filtro de compras?" */

.filtro > div > div > div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    width: 612px;
}

.filtro > div > div > div:nth-of-type(1) > div > h3 {
    all: unset;
    display: block;
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 2rem;
}

.filtro > div > div > div:nth-of-type(1) > div > button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    color: royalblue;
    cursor: pointer;
}

.filtro > div > div > div:nth-of-type(1) > div > button > svg {
    height: 1.25rem;
    width: auto;
}

.filtro > div > div > div:nth-of-type(1) > div > button > p {
    all: unset;
    display: block;
    margin-bottom: 1px;
}

.filtro > div > div > div:nth-of-type(1) > button {
    all: unset;
    margin-right: -4px;
    cursor: pointer;
}

.filtro > div > div > div:nth-of-type(1) > button > svg {
    height: 2rem;
    width: 2rem;
}

.filtro > div > div > button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.125rem 2rem 1.125rem 2rem;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: darkblue;
    color: white;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    width: fit-content;
}

.filtro > div > div > button > svg {
    height: 1.5rem;
    width: 1.5rem;
}

.filtro > div > div > button > p {
    all: unset;
    display: block;
}