.formulario {
    max-width: 1200px;
    margin: 81px auto;
    padding: 2rem 2rem 0;
    box-sizing: border-box;
    background-color: white;
}

.formulario > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 7rem;
    gap: 1rem;
    height: fit-content;
    margin-top: 4rem;
}

.formulario > div > div:nth-of-type(1) {
    height: auto;
    width: 50%;
    background-color: aliceblue;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    overflow-y: hidden;
}

.error {
    background-color: lavenderblush;
    color: red;
    font-size: var(--fuente-extra-pequeña);
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem 2rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.error {
    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.error.visible {
    transform: translateY(0);
}

.error.exito {
    background-color: honeydew;
    color: forestgreen;
}

.formulario > div > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.formulario > div > div:nth-of-type(2) > div {
    width: 75%;
}

.inscripcion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inscripcion > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
}

.entrada {
    display: block;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
    border: 1px solid grey;
    box-sizing: border-box;
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.75rem;
}

.formulario h1 {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 1rem;
}

.inscripcion > div > label {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 0.5rem;
}

.inscripcion button {
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    padding: 1rem 1.5rem;
    width: fit-content;
}

.novedades {
    display: flex !important;
    flex-direction: row !important;
    margin-bottom: 0 !important;
    align-items: flex-start !important;
    gap: 0.25rem !important;
}

.novedades > label {
    font-size: var(--fuente-extra-pequeña) !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    letter-spacing: inherit !important;
    line-height: inherit !important;
    margin-bottom: 0 !important;
}

.terminos {
    display: flex !important;
    flex-direction: row !important;
    margin-bottom: 2rem !important;
    align-items: flex-start !important;
    gap: 0.25rem !important;
}

input[type="checkbox"] {
    accent-color: darkblue;
}

.terminos > label {
    font-size: var(--fuente-extra-pequeña) !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    letter-spacing: inherit !important;
    line-height: inherit !important;
    margin-bottom: 0 !important;
}

.terminos > label > a {
    color: royalblue;
    cursor: pointer;
}