.frecuentes {
    max-width: 1200px;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: white;
}

.frecuentes  > h3 {
    padding: 0;
    font-size: var(--fuente-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 1.5rem;
}

.frecuentes  > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.pregunta {
    margin: 0;
    padding: 0;
    font-size: var(--fuente-extra-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
    width: fit-content;
}

.pregunta > svg {
    margin: 0;
    padding: 0;
    height: 2rem;
    width: auto;
}