.heroe > div > h1,
.heroe > div > p,
.heroe > div > button {
    all: unset;
}

.heroe {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto 5rem;
    padding: 81px 2rem 2rem 2rem;
    box-sizing: border-box;
    background-color: white;
}

.heroe > div {
    height: 100%;
    background-color: gainsboro;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    padding: 2.25rem 2rem;
    border-radius: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroe > div > h1 {
    font-size: var(--fuente-extra-extra-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 0.25rem;
}

.heroe > div > p {
    font-size: var(--fuente-pequeña);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 1.5rem;
}

.heroe > div > button {
    font-size: var(--fuente-extra-pequeña);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    padding: 1rem 1.5rem;
}