.lista {
    max-width: 1200px;
    margin: 81px auto;
    padding: 2rem 2rem 0;
    box-sizing: border-box;
    background-color: white;
}

.lista > h3 {
    padding: 0;
    margin: 0;
    font-size: var(--fuente-grande);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 1.5rem;
}

.lista > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    margin-bottom: 6rem;
}

.tarjeta > div,
.tarjeta > p,
.tarjeta > h2 {
    all: unset;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.tarjeta > img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 1rem;
    display: block;
}

.tarjeta > div {
    font-size: var(--fuente-peque単a);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.5rem;
}

.tarjeta > p:nth-of-type(1) {
    font-size: var(--fuente-extra-peque単a);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.125rem;
}

.tarjeta > h2 {
    font-size: var(--fuente-mediana);
    font-family: inherit;
    font-weight: 700;
    font-style: inherit;
    letter-spacing: -0.02em;
    line-height: inherit;
    margin-bottom: 0.75rem;
}

.tarjeta > p:nth-of-type(2) {
    font-size: var(--fuente-peque単a);
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0.5rem;
}

.cedazo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.25rem;
}

.cedazo > button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-size: var(--fuente-peque単a);
    font-family: inherit;
    font-weight: 600;
    font-style: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    color: royalblue;
    cursor: pointer;
}

.cedazo > button > svg {
    height: 1.25rem;
    width: auto;
}

.cedazo > button > p {
    all: unset;
    display: block;
    margin-bottom: 1px;
}