@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ledger&display=swap");

:root {
    --color-primario-mas-bajo: #ECB9BD;
    --color-primario-bajo: #D9737B;
    --color-primario: #BF343F;
    --color-primario-alto: #942831;
    --color-primario-mas-alto: #6A1D23;
    --color-primario-opaco-mas-bajo: #bf34401a;
    --color-primario-opaco-bajo: #bf344080;
    --color-secundario-mas-bajo: #CFD2F8;
    --color-secundario-bajo: #A6A9D3;
    --color-secundario: #737594;
    --color-secundario-alto: #51536D;
    --color-secundario-mas-alto: #35364E;
    --color-secundario-opaco-mas-bajo: #7375941a;
    --color-secundario-opaco-bajo: #73759480;
    --color-terciario-mas-bajo: #F9D2A0;
    --color-terciario-bajo: #F2A541;
    --color-terciario: #EB8C10;
    --color-terciario-alto: #B66C0C;
    --color-terciario-mas-alto: #814D09;
    --color-terciario-opaco-mas-bajo: #f2a5411a;
    --color-terciario-opaco-bajo: #f2a54180;
    --color-neutro-mas-mas-mas-bajo: #FFFFFF;
    --color-neutro-mas-mas-bajo: #E8E8E8;
    --color-neutro-mas-bajo: #D2D2D2;
    --color-neutro-bajo: #BBBBBB;
    --color-neutro: #A4A4A4;
    --color-neutro-alto: #8E8E8E;
    --color-neutro-mas-alto: #777777;
    --color-neutro-mas-mas-alto: #606060;
    --color-neutro-mas-mas-mas-alto: #4A4A4A;
    --color-neutro-mas-mas-mas-mas-alto: #333333;
    --color-neutro-opaco-mas-bajo: #3333331a;
    --color-neutro-opaco-bajo: #33333380;
    --color-error-bajo: #FB3748;
    --color-error-alto: #D00416;
    --color-error-opaco: #fb37471a;
    --color-advertencia-bajo: #FFDB43;
    --color-advertencia-alto: #DFB400;
    --color-advertencia-opaco: #ffdd431a;
    --color-exito-bajo: #84EBB4;
    --color-exito-alto: #1FC16B;
    --color-exito-opaco: #1fc16b1a;
}

html {
    font-family: "Nunito Sans", sans-serif;
}