.enlace-secundario {
    display: inline-flex;
    width: max-content;
    align-items: center;
    gap: 0;
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: all 120ms ease-in-out;
}

.texto {
    padding: 0 4px;
}

.icono {
    height: 1.375em;
    width: 1.375em;
}

.enlace-secundario.alto {
    color: var(--color-neutro-mas-mas-mas-bajo);
    background-color: var(--color-primario-mas-alto);
    border: 1.5px solid;
    border-color: var(--color-primario-mas-alto);
    padding: 16px 20px;
}

.enlace-secundario.alto:hover {
    color: var(--color-neutro-mas-mas-mas-bajo);
    background-color: var(--color-primario-alto);
    border-color: var(--color-primario-alto);
    padding: 16px 20px;
}

.enlace-secundario.base {
    color: var(--color-secundario-alto);
    background-color: transparent;
    border: 1.5px solid;
    border-color: var(--color-secundario-alto);
    padding: 16px 20px;
}

.enlace-secundario.base:hover {
    color: var(--color-neutro-mas-mas-mas-bajo);
    background-color: var(--color-secundario-alto);
    border-color: var(--color-secundario-alto);
    padding: 16px 20px;
}

.enlace-secundario.bajo {
    color: var(--color-primario-mas-alto);
}

.enlace-secundario.bajo:hover {
    color: var(--color-primario-mas-alto);
    text-decoration: underline;
    text-underline-offset: 4px;
}