.entrada-seleccion {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.entrada-seleccion > .etiqueta {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
}

.entrada-seleccion > .campo {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
    padding: 12px 16px;
    border: 1.5px solid var(--color-secundario);
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    outline: none;
    transition: border-color 0.15s ease;
}

.entrada-seleccion > .campo::placeholder {
    color: var(--color-secundario);
}

.entrada-seleccion > .campo:hover {
    border-color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.entrada-seleccion > .campo:focus {
    border-color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.entrada-seleccion > .campo.estado-error {
    border-color: red;
}

.entrada-seleccion > .mensaje-informacion {
    color: var(--color-secundario);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1.3;
}

.entrada-seleccion > .mensaje-error {
    font-size: 12px;
    color: red;
}

.entrada-seleccion > .mensaje-informacion,
.entrada-seleccion > .mensaje-error {
    min-height: 15.6px;
    display: block;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='darkslateblue' height='32' width='32' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><path d='M9.99595 12.7498C9.89595 12.7498 9.8022 12.7325 9.7147 12.6978C9.6272 12.663 9.54873 12.6109 9.47928 12.5415L5.52803 8.59025C5.37053 8.43275 5.29525 8.25331 5.3022 8.05192C5.30914 7.85053 5.389 7.67345 5.54178 7.52067C5.69456 7.36789 5.87164 7.2915 6.07303 7.2915C6.27442 7.2915 6.4515 7.36789 6.60428 7.52067L10.0001 10.9373L13.4168 7.52067C13.5696 7.36789 13.7466 7.29498 13.948 7.30192C14.1494 7.30887 14.3265 7.38873 14.4793 7.5415C14.6321 7.69428 14.7084 7.87137 14.7084 8.07275C14.7084 8.27414 14.6297 8.45317 14.4722 8.60984L10.5209 12.5415C10.4459 12.6109 10.3647 12.663 10.2772 12.6978C10.1897 12.7325 10.0959 12.7498 9.99595 12.7498Z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 99.25%;
    background-position-y: 6px;
}


.entrada-seleccion > option {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
    padding: 12px 16px;
    border: 1.5px solid var(--color-secundario);
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    outline: none;
    transition: border-color 0.15s ease;
}