.entrada-texto {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.entrada-texto > .etiqueta {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
}

.entrada-texto > .campo {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
    padding: 12px 16px;
    border: 1.5px solid var(--color-secundario);
    border-radius: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    outline: none;
    transition: border-color 0.15s ease;
}

.entrada-texto > .campo::placeholder {
    color: var(--color-secundario);
}

.entrada-texto > .campo:hover {
    border-color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.entrada-texto > .campo:focus {
    border-color: var(--color-neutro-mas-mas-mas-mas-alto);
}

.entrada-texto > .campo.estado-error {
    border-color: red;
}

.entrada-texto > .mensaje-informacion {
    color: var(--color-secundario);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1.3;
}

.entrada-texto > .mensaje-error {
    font-size: 12px;
    color: red;
}

.entrada-texto > .mensaje-informacion,
.entrada-texto > .mensaje-error {
    min-height: 15.6px;
    display: block;
}