.entrada-radio-secundaria {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    user-select: none;
    width: fit-content;
}

.entrada-radio-secundaria input {
    display: none;
}

.entrada-radio-secundaria-marca {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1.5px solid var(--color-neutro-mas-mas-mas-mas-alto);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.entrada-radio-secundaria input:checked + .entrada-radio-secundaria-marca {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
    color: var(--color-neutro-mas-mas-mas-bajo);
}

.entrada-radio-secundaria-marca svg {
    width: 8px;
    height: 8px;
    opacity: 0;
}

.entrada-radio-secundaria input:checked + .entrada-radio-secundaria-marca svg {
    opacity: 1;
}

.entrada-radio-secundaria-texto {
    line-height: 1;
}