.entrada-numero {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: fit-content;
}

.entrada-numero > div {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 9.5px 12px;
    border: 1.5px solid var(--color-secundario);
    border-radius: 8px;
    gap: 0;
}

.entrada-numero > .etiqueta {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.entrada-numero > div > input {
    color: var(--color-neutro-mas-mas-mas-mas-alto);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    border: 0;
    height: 23px;
    width: 23px;
    text-align: center;
    padding: 0;
}

.entrada-numero > div > button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none;
    height: 23px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secundario);
}