.etiqueta-terciaria {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 9999px;
    border: solid 1px;
}

.etiqueta-terciaria svg {
    display: flex;
    align-items: center;
    width: 1.125em;
    height: 1.125em;
    flex-shrink: 0;
}

.etiqueta-terciaria span {
    padding: 0 4px
}