.etiqueta-primaria {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 9999px;
    color: var(--color-neutro-mas-mas-alto);
    background-color: transparent;
    border: solid 1.5px var(--color-neutro-mas-mas-alto);
    cursor: pointer;
}

.etiqueta-primaria .icono-inicio, .etiqueta-primaria .icono-fin {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.etiqueta-primaria .icono-inicio {
    width: 1.25em;
    height: 1.25em;
}

.etiqueta-primaria .icono-fin {
    width: 1.5em;
    height: 1.5em;
}

.etiqueta-primaria .texto {
    padding: 0 4px;
    text-decoration: none;
    color: inherit;
}

.etiqueta-primaria:hover {
    color: var(--color-primario-alto);
    background-color: transparent;
    border: solid 1.5px var(--color-primario-alto);
}