.ListaPrimaria {
    margin: 0;
    padding: 0 0 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25em;
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    max-width: 45ch;
    gap: 0;
}

.ListaPrimaria > li {
    margin: 0;
    padding: 0;
}