.parrafo-secundario {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.25em;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    max-width: 45ch;
}

.parrafo-secundario svg {
    display: flex;
    align-items: center;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
}