.titulo-terciario {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 0.25em;
    font-size: 40px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1;
}

.titulo-terciario svg {
    display: flex;
    align-items: center;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
}